.about-section {
  height: 300px;
}
#about {
  h1 {
    color: #000;
  }
  .flex-container {
    display: flex;
    justify-content: space-between;
  }
  .profile-pic {
    width: 200px;
    height: 200px;
  }
  .about {
    margin-top: 120px;
  }
}

.about-text {
  color: #000;
  font-family: "Lato", sans-serif;
}
.hello-text {
  font-size: 5.6rem;
  font-weight: 500;
}

.user_name {
  font-size: 3.6rem;
  font-weight: 400;
}
