#portfolio {
  h1,
  strong {
    color: #000;
  }
  h2 {
    color: #00008b;
  }
}

.card {
  width: 250px;
  border: 1px solid grey;
  margin: 10px;
  border-radius: 16px;
  .card-content {
    h2 {
      color: blue;
    }
    padding: 10px;
  }
}
