#skills {
    h1 {
        color: #ff7f50
    }
}
#tools {
    h1 {
        color: #ff7f50;
    }
}
.mini-card {
    border: 1px solid green;
    height: 40px;
    width: 80px;
    span {
        padding: 14px;
    }
}