#skills {
  height: 200px;
  h1 {
    margin: 24px 0px;
    color: #3C8307;
    text-align: center;
  }
}

.skill-item {
  img {
    height: 50px;
  }
  border-radius: 30px;
  padding: 4px 10px;
  color: #fff;
  margin: 8px;
}

.mini-card {
  border: 1px solid green;
  height: 40px;
  width: 80px;
  span {
    padding: 14px;
  }
}
